.navbar {
    background-color: #000000;
    height: 64px;

    &-nav, .container-fluid, img, ul, li, a {
        height: 64px;
    }

    &-brand {
        padding: 0 15px;
    }

    a {
        line-height: 35px !important;
        font-size: 20px;
        color: #ffffff !important;
    }
}
